* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f9efe4;
}

main {
  height: 100vh;
  max-width: 1536px;
  margin: 0 auto;
}
